<input type="file"  appReadexcel  #readexcel="readexcel" (eventEmitter)="DataFromEventEmitter($event)" />
<app-mapping *ngIf="readexcel.excelObservable"> </app-mapping>
<!--
<div>
  <table class="up">
    <tr>
      <th> Headers</th>
     <th> Columns </th>
    </tr>
    <tr *ngFor= "let head of readexcel.headers">
      <td >{{head}} </td>
    </tr>
  </table>
</div>
-->
<!--
<table mat-table class="mat-elevation-z8">

  
  <ng-container *ngFor="let head of readexcel.headers" matColumnDef="head">
    <th mat-header-cell *matHeaderCellDef> Headers </th>
    <tr *ngFor="let head of readexcel.headers"> 
    <td mat-cell > {{[head]}} </td>
    </tr>
  </ng-container>

  
  <ng-container *ngFor="let head of readexcel.headers" matColumnDef="head">
    <th mat-header-cell *matHeaderCellDef> Columns </th>
    <tr *ngFor="let head of readexcel.headers"> 
    <td mat-cell *matCellDef="let h"> {{h[head]}} </td>
    </tr>
  </ng-container>

 

  <tr mat-header-row *matHeaderRowDef="readexcel.headers"></tr>
  <tr mat-row *matRowDef="let row; columns: readexcel.headers;"></tr>
</table>
-->

<!--
<ul *ngFor="let n of readexcel.excelObservable | async">
  <li>{{ n.ID }}</li>
</ul>
-->


<!--
  <div class="container">
<table >  
  <tr *ngFor="let row of readexcel.excelObservable | async; index as i">
    <td  *ngFor="let val of row; index as j">
    <p  *ngIf ="i==0; else table_data" > {{readexcel.headers[j]}} </p>
    <ng-template #table_data> {{val}} </ng-template>
    </td>
  </tr>
 
</table>
</div>

-->
<div *ngIf="readexcel.excelObservable"> 
<button (click)="loadpreview();" mat-raised-button color="primary"> Preview </button>
</div>

<div *ngIf="preview"> 
<table mat-table class="mat-elevation-z8">
  <ng-container>
    <tr *ngFor="let row of readexcel.excelObservable | async">  
    <td mat-cell *ngFor="let val of row"> {{val}} 
    </td>
    </tr>
  </ng-container>
</table>
</div>

