<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Instructions for uploading the file </h1>
            <ul>
                <li>
                    The file must be in excel or csv format.
                </li>
                <li>
                    The uploaded file must have {{data.length}} headers.
                </li>
                <li>
                    The headers should be in the first row and the data in the succeeding rows.
                </li>
                <img src="assets/Capture1.JPG" alt=" " class="img-responsive" style="max-width: 400px;">
            </ul>
        </div>
      
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary"  [mat-dialog-close]>Close</button>
</div>
