<mat-dialog-content class="mat-typography">
  <h1> Mapping </h1>
  <div class="header">
  <div class="commentdiv">
    Drag and drop the column values to the respective header values and preview the result in the table. 
    <b>The dates should be specified in the format 'dd/mm/yyyy' </b>
   </div>
   <div class="previewbuttdiv">
    <button (click)="loadpreview();" mat-raised-button color="primary"> Preview </button>
  </div>
</div>
  <div class="whole">
    <div class="wholeTables">
  <div class="mappingdiv">
    <table class="table col-names">
        <tr>
          <th scope="col">Headers</th>
        </tr>
        <tr *ngFor="let h of headers">
          <td>
            <div style="height: 30px;">
            {{h}}
          </div></td>
        </tr>
    </table>
    <table class="table col-ids" id="col">
        <tr>
          <th scope="col">Columns</th>
        </tr>
      <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let c of columns">
          <td cdkDrag cdkDragLockAxis="y" style="padding-left: 5px;">
            <div style="height: 30px;">{{ c }} </div></td>
        </tr>
        </tbody>
    </table>
  </div>

<div class="previewtable" *ngIf="preview">
      <table class="table table-striped data-table">
          <tr *ngFor="let row of newdata; index as i">
            <td *ngFor="let val of row">
              <p class="throw" *ngIf="i==0; else table_data"> {{val}} </p>
              <ng-template #table_data> {{val}} </ng-template>
            </td>
          </tr>
      </table>
     
</div>
</div>
<div mat-dialog-actions class="submit" align="end">
  <button class="submitbutt" (click)="onsubmit();" mat-raised-button color="primary" appReadexcel >Submit</button>
  <button mat-raised-button color="primary" [mat-dialog-close]> Close </button>
  </div>
</div>

</mat-dialog-content>