<mat-dialog-content class="mat-typography">
  <h1> Mapping </h1>
  <div class="header">
  <div class="commentdiv">
    Drag and drop the column values to the respective header values and preview the result in the table
   </div>
   <div class="previewbuttdiv">
    <button (click)="loadpreview();" mat-raised-button color="primary"> Preview </button>
  </div>
</div>
  <div class="whole">
  <div class="mappingdiv">
    <table class="table col-names">
        <tr>
          <th scope="col">Headers</th>
        </tr>
        <tr *ngFor="let h of headers">
          <td>{{h}}</td>
        </tr>
    </table>
    <table class="table col-ids" id="col">
        <tr>
          <th scope="col">Columns</th>
        </tr>
      <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let c of columns">
          <td cdkDrag cdkDragLockAxis="y">{{ c }}</td>
        </tr>
        </tbody>
    </table>
  </div>

<div class="previewtable" *ngIf="preview">
      <table class="table table-striped">
          <tr *ngFor="let row of newdata; index as i">
            <td *ngFor="let val of row">
              <p class="throw" *ngIf="i==0; else table_data"> {{val}} </p>
              <ng-template #table_data> {{val}} </ng-template>
            </td>
          </tr>
      </table>
</div>

</div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
<button class="submitbutt" (click)="onsubmit();" mat-raised-button color="primary" appReadexcel >Submit</button>
</div>


